@include media-breakpoint-up(md) {
  body {
    min-width: 375px;
    max-width: 1438px;
  }
  .header {
    height: 83px;
    background: #131313;
  }
  .logo {
    font-family: "FuturaDemiC";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    color: #E3B873;
  }
  .navigation {
    font-family: "FuturaBookC";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;

    a {
      color: #FFFFFF;
    }
  }
  .number {
    text-transform: uppercase;
    color: #E3B873;

    .number_button {
      width: 161px;
      height: 37px;
      color: #FFFFFF;
      background: #E3B873;
      box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
      border-radius: 2px;
      text-decoration: none;
    }

    a {
      color: #E3B873;
      text-decoration-line: underline;
    }
  }
  .main-photo {
    height: 707px;
    background: #131313;
    position: relative;
    .main-photo__photo {
      background: url("../assets/image/main-photo.png") no-repeat, rgba(0, 0, 0, 0.7);
      color: #ffffff;

      .main-photo__title {
        max-width: 576px;
        height: 105px;
        font-family: "YesevaOne-Regular";
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        font-weight: bold;

        .main-photo__title-city {
          color: #E3B873;
        }
      }

      .main-photo__subtitle {
        max-width: 504px;
        height: 89px;
        font-family: 'FuturaBookC';
        font-size: 22px;
        line-height: 30px;
      }

      .main-photo__links {
        width: 434px;
        height: 52px;
        font-size: 13px;
        line-height: 15px;
        font-family: "FuturaDemiC";

        .main-photo__link-calculate {
          width: 207px;
          height: 51px;
          color: #FFFFFF;
          background: #E3B873;
          box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
        }

        .main-photo__link-submit {
          width: 207px;
          height: 51px;
          color: #FFFFFF;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 2px;
        }
      }
    }

    .main-photo__inst {
      min-width: 150px;
      height: 13px;
      transform: rotate(90deg);

      .main-photo__inst-link {
        width: 89px;
        height: 13px;
        font-family: "FuturaDemiC";
        font-size: 14px;
        line-height: 16px;
        color: #E3B873;
      }

      .main-photo__inst-line {
        width: 51px;
        height: 0;
        border: 1.5px solid #E3B873;
      }
    }

    .main-photo__scroll {
      width: 247px;
      height: 97px;
      position: absolute;
      top: 650px;
      background: #131313;
      color: #FFFFFF;
      font-size: 14px;
      text-transform: uppercase;

      .main-photo__scroll-button {
        width: 29px;
        height: 29px;
        border-radius: 50%;
        border: 1.5px solid #E3B873;
        box-sizing: border-box;
        background: url("../assets/image/scroll-button.png") center no-repeat;
      }
    }
  }
  .wrapper {
    height: 9941px;
  }
  .block-product {
    height: 689px;
    background: #131313;
  }
  .block-product__information-group {
    width: 442px;
    height: 390px;

    .block-product__title {
      width: 253px;
      height: 66px;
      font-family: "Yeseva One";
      font-weight: bold;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: #E3B873;
    }

    .block-product__subtitle {
      width: 442px;
      height: 86px;
      font-family: "FuturaBookC";
      font-size: 18px;
      line-height: 29px;
      color: #FFFFFF;
    }
  }
  .block-product__other {
    width: 426px;
    height: 166px;

    .block-product__item {
      width: 213px;
      height: 50px;

      .block-product__item-title {
        width: 213px;
        height: 22px;
        font-family: "Yeseva One";
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #E3B873;
      }

      .block-product__item-subtitle {
        width: 161px;
        height: 42px;
        font-family: "FuturaBookC";
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
  }

  .block-product__active {
    width: 630px;
    margin-top: 107px;
    margin-bottom: 52px;
  }
  .block-product__nav-slide {
    font-family: "YesevaOne-Regular";
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
  }
  #slide-ros:active {
    text-decoration-line: underline;
    color: #E3B873;
  }
  .block-control {
    height: 900px;
    background: linear-gradient(to bottom, #131313 50%, transparent 50%);

    .block-control__title {
      width: 196px;
      height: 70px;
      margin-top: 90px;
      position: relative;
      font-family: "YesevaOne-Regular";
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      background: url("../assets/image/camera.svg") center 41px no-repeat, url("../assets/image/onlaine-line.svg") 122px 57px no-repeat, url("../assets/image/onlaine-line.svg") 38px 56px no-repeat;
    }

    .block-control__video {
      width: 817px;
      height: 437px;
      margin-top: 31px;
    }

    .block-control__subtitle {
      width: 681px;
      height: 140px;
      margin-top: 98.5px;
      font-family: 'FuturaBookC';
      font-size: 20px;
      line-height: 34px;
      text-align: center;
      color: #363636;
    }
  }

  .block-form {
    height: 300px;
    margin-top: 0;
    background: #FFFFFF;

    .block-form__form {
      width: 800px;
      padding: 0;
      input::placeholder {
        color: #131313;
        background: #FFFFFF;
      }
      .block-form__input {
        width: 231px;
        height: 21px;
        font-family: 'FuturaBookC';
        font-size: 18px;
        line-height: 24px;
        color: #363636;
        background: #FFFFFF;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: rgba(54, 54, 54, 0.3);
      }

      .block-form__input:focus {
        outline: none;
      }

      .block-form__button {
        width: 200px;
        height: 51px;
        font-family: 'FuturaDemiC';
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        position: relative;
        top: 0;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #E3B873;
        border: 0;
        box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
      }

      .block-form__checkbox-complit {
        text-align: center;
        font-family: 'FuturaBookC';
        font-size: 16px;
        line-height: 22px;
        color: #181818;

        .block-form__input-checkbox {
          width: 18px;
          height: 18px;
          background: #E3B873;
          border-radius: 1px;
        }
      }
    }
  }
  .block-types {
    height: 850px;

    .block-types__title {
      width: 196px;
      height: 70px;
      font-family: "YesevaOne-Regular";
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #181818;
      background: url("../assets/image/types-cccp.svg") center 41px no-repeat, url("../assets/image/onlaine-line.svg") 122px 57px no-repeat, url("../assets/image/onlaine-line.svg") 38px 56px no-repeat;
    }

    .block-types__style {
      width: 1236px;
      height: 608px;
      margin-top: 31px;

      .block-types__style-repair {
        width: 392px;
        padding-top: 294px;

        .block-types__style-description {
          width: 330px;
          height: 286px;
          position: relative;
          background: #FFFFFF;
          padding-left: 34px;

          ul {
            font-family: 'FuturaBookC';
            font-size: 15px;
            line-height: 25px;
            color: #959595;
            padding-left: 21px;
          }

          .block-types__style-title {
            margin: 25px 0 13px 0;
            font-family: "YesevaOne-Regular";
            font-size: 18px;
            line-height: 25px;
            color: #363636;
          }

          .block-types__style-link {
            width: 228px;
            height: 54px;
            position: absolute;
            top: 260px;
            left: 0;
            font-family: "YesevaOne-Regular";
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #E3B873;
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          }
        }
      }
    }
  }

  .back-redec {
    background: url("../assets/image/repair-redecoration.png") top left no-repeat;
  }
  .back-over {
    background: url("../assets/image/repair-overhaul.png") top center no-repeat;
  }
  .back-design {
    background: url("../assets/image/repair-design.png") top right no-repeat;
  }
  .block-bawl {
    height: 725px;

    .block-bawl__bawl {
      background: url("../assets/image/bawl.png") no-repeat;

      .block-bawl__bawl-border {
        width: 636px;
        height: 636px;
        position: relative;
        top: 61px;
        left: -160px;
        border-radius: 50%;
        border: 2px solid #E3B873;
        border-left-color: #FFFFFF;

        .block-bawl__bawl-border_item-1 {
          width: 428px;
          height: 55px;
          position: absolute;
          top: 41px;
          left: 486px;
          background: #FFFFFF;
        }
        .block-bawl__bawl-border_item-2 {
          width: 157px;
          height: 56px;
          position: absolute;
          top: 158px;
          left: 588px;
          background: #FFFFFF;
        }
        .block-bawl__bawl-border_item-3 {
          width: 178px;
          height: 65px;
          position: absolute;
          top: 317px;
          left: 611px;
          background: #FFFFFF;
        }
        .block-bawl__bawl-border_item-4 {
          width: 280px;
          height: 56px;
          position: absolute;
          top: 483px;
          left: 548px;
          background: #FFFFFF;
        }
        .block-bawl__item-number {
          min-width: 42px;
          height: 42px;
          font-family: "YesevaOne-Regular";
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          color: #FFFFFF;
          border-radius: 50%;
          background: #E3B873;
          box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
        }
        .block-bawl__item-title {
          width: 364px;
          height: 42px;
          font-family: 'FuturaMediumC';
          font-weight: bold;
          font-size: 16px;
          line-height: 21px;
          color: #363636;
        }
      }
      .block-bawl__bawl-border:after {
        content: "";

      }
    }

    .block-bawl__form-desc {
      width: 506px;
      height: 456px;
      padding-top: 27px;
      padding-bottom: 26px;
      background: #131313;

      .block-bawl__title {
        width: 297px;
        height: 47px;
        font-family: 'FuturaDemiC';
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
      }

      .block-bawl__form-personal {
        width: 408px;
        height: 380px;
        margin-top: 39px;

        .block-bawl__input-form {
          width: 408px;
          height: 40px;
          font-family: 'FuturaBookC';
          font-size: 15px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.5);

          input {
            width: 408px;
            font-family: 'FuturaBookC';
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            background: #131313;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: rgba(54, 54, 54, 0.3);
          }

          input::placeholder {
            color: #FFFFFF;
          }
        }
      }

      .block-form__button {
        width: 213px;
        height: 51px;
        font-family: 'FuturaDemiC';
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #E3B873;
        box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        border: 0;
      }
    }
  }
  .block-bawl__checkbox {
    width: 408px;
    color: #FFFFFF;
  }
  .block-form__pigs-sale {
    width: 441px;
    margin-top: 39px;

    .block-form__pigs {
      width: 72px;
      height: 72px;
      margin-right: 25px;
      background: url("../assets/image/pig.svg") center no-repeat, #E3B873;
      border-radius: 50%;
    }

    .block-form__sale {
      width: 344px;
      height: 47px;
      font-family: 'FuturaDemiC';
      font-size: 20px;
      line-height: 25px;
      color: #E3B873;
      text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);
    }
  }
  .block-galery {
    height: 863px;
    margin-top: 242px;
    position: relative;
    background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%), url("../assets/image/block-galery.png") no-repeat;

    .block-galery__title {
      width: 411px;
      height: 66px;
      margin-bottom: 47px;
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: #E3B873;
    }

    .block-galery__list-img {
      width: 411px;
      height: 540px;

      ul {
        width: 411px;
        height: 540px;
        font-family: 'Proxima Nova';
        font-size: 20px;
        line-height: 34px;
        color: #FFFFFF;
        list-style: none;
      }

      a {
        color: #FFFFFF;
      }

      a:hover {
        color: #E3B873;
      }
    }
  }
  .block-galery__image {
    position: relative;

    .block-galery__image1 {
      width: 364px;
      height: 557px;
      position: absolute;
      top: -37px;
      left: 0;
    }

    .block-galery__image2 {
      width: 364px;
      height: 275px;
      position: absolute;
      top: -106px;
      left: 388px;
    }

    .block-galery__image3 {
      width: 364px;
      height: 349px;
      position: absolute;
      top: 554px;
      left: 0;
    }

    .block-galery__image4 {
      width: 364px;
      height: 624px;
      position: absolute;
      top: 200px;
      left: 388px;
    }
  }
  .block-design {
    height: 893px;
    position: relative;
    top: 0;
    z-index: 10;
    margin-top: 153px;
    background: linear-gradient(to top, #131313 50%, transparent 50%);;

    .block-design__title {
      width: 257px;
      height: 67px;
      font-family: "YesevaOne-Regular";
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      background: url("../assets/image/design-product.svg") no-repeat center bottom, url("../assets/image/onlaine-line.svg") 152px 52px no-repeat, url("../assets/image/onlaine-line.svg") 73px 52px no-repeat;
      color: #181818;
    }

    .block-design__subtitle {
      width: 763px;
      height: 57px;
      margin-top: 24px;
      font-family: 'FuturaBookC';
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #363636;
    }

    .block-design__product {
      width: 1237px;
      height: 709px;
      margin-top: 38px;

      .block-design__mini {
        width: 392px;
        height: 709px;
        padding-top: 294px;
        background: url("../assets/image/design1.png") top no-repeat;
      }

      .block-design__standart {
        width: 392px;
        height: 709px;
        padding-top: 294px;
        margin-top: 0;
        background: url("../assets/image/design2.png") top no-repeat;
      }

      .block-design__full {
        width: 392px;
        height: 709px;
        padding-top: 294px;
        margin-top: 0;
        background: url("../assets/image/design3.png") top no-repeat;
      }
    }
  }
  .block-design__product-item {
    position: relative;
    background: #FFFFFF;
    padding-left: 34px;

    .block-design__mini-title {
      margin: 25px 0 13px 0;
      font-family: "YesevaOne-Regular";
      font-size: 18px;
      line-height: 25px;
      color: #363636;
    }

    ul {
      font-family: 'FuturaBookC';
      font-size: 15px;
      line-height: 25px;
      color: #959595;
      padding-left: 21px;
    }
    ul :nth-child(n+8) {
      display: flex;
    }

    .block-design__link {
      width: 228px;
      height: 54px;
      position: absolute;
      left: 0;
      font-family: "YesevaOne-Regular";
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #E3B873;
      box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
    }
  }
  .block-design__product-mini {
    width: 330px;
    height: 221px;

    .block-design__link_mini-position {
      top: 192px;
    }
  }
  .block-design__product-standart {
    width: 330px;
    height: 286px;

    .block-design__link_standart-position {
      top: 257px;
    }
  }
  .block-design__product-full {
    width: 330px;
    height: 414px;

    .block-design__link_full-position {
      top: 385px;
    }
  }
  .block-working {
    height: 686px;
    position: relative;
    top: -1px;
    background: #131313;
  }
  .block-working__6-steps {
    width: 338px;
    height: 686px;

    .block-working__6-steps_subtitle {
      width: 173px;
      height: 16px;
      font-family: 'FuturaDemiC';
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    .block-working__6-steps_title {
      width: 253px;
      height: 66px;
      margin-top: 18px;
      font-family: "YesevaOne-Regular";
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: #E3B873;
    }

    .block-working__one-slide {
      width: 338px;
      height: 403px;
      margin-top: 92px;
      font-family: "YesevaOne-Regular";
      color: #FFFFFF;

      .block-working__slider-number {
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
      }

      .block-working__slider-title {
        width: 262px;
        height: 42px;
        margin-top: 22px;
        font-size: 15px;
        line-height: 23px;
        text-transform: uppercase;
        color: #E3B873;
      }

      .block-working__slider-content {
        margin-top: 16px;
        font-family: 'FuturaBookC';
        font-size: 15px;
        line-height: 25px;

      }
    }
  }
  .block-working__slide {
    height: 686px;
    padding-top: 87px;

    .block-working__slide-navigation {
      width: 766px;
      height: 173px;

      .block-working__slide-item {
        width: 145px;
        height: 67px;

        .block-working__slide-item_title {
          font-family: "YesevaOne-Regular";
          font-size: 15px;
          line-height: 21px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);
        }

        .block-working__slide-item_subtitle {
          font-family: 'FuturaBookC';
          font-size: 15px;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .block-working__slide-image {
      width: 766px;
      height: 375px;
      margin-top: 43px;
      background: url("../assets/image/block-working__slide-image.png") no-repeat;
    }
  }
  .block-team {
    height: 896px;
    padding-top: 51px;
    background: linear-gradient(to top, transparent 50%, #131313 50%);
  }
  .block-team__inform {
    width: 558px;
    height: 147px;
    text-align: center;
    color: #FFFFFF;

    .block-team__title {
      height: 90px;
      font-family: "YesevaOne-Regular";
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-transform: uppercase;
      background: url("../assets/image/icon-team.svg") 38px 38px no-repeat, url("../assets/image/onlaine-line.svg") 0px 51px no-repeat, url("../assets/image/onlaine-line.svg") 69px 51px no-repeat;
    }

    .block-team__subtitle {
      width: 476px;
      height: 57px;
      font-family: 'FuturaBookC';
      font-size: 20px;
      line-height: 27px;
    }
  }
  .block-team__team {
    width: 1028px;
    height: 621px;
    margin-top: 73px;

    .block-team__team-card {
      width: 1028px;
      height: 415px;
      position: relative;

      .block-team__team-card_item {
        width: 270px;
        height: 415px;
        position: relative;

        .block-team__team-card_item-inf {
          width: 233px;
          height: 137px;

          .block-team__team-card_title {
            height: 93px;
            font-family: "YesevaOne-Regular";
            font-size: 18px;
            line-height: 25px;
            font-weight: bold;
            text-align: center;
            color: #181818;
            background: #FFFFFF;

            span {
              font-family: "FuturaBookC";
              font-size: 18px;
              line-height: 26px;
              font-weight: normal;
              text-align: center;
              color: #959595;
            }
          }

          .block-team__team-card_link {
            height: 44px;
            background: #E3B873;
            font-family: "YesevaOne-Regular";
            font-size: 13px;
            line-height: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: #FFFFFF;

          }
        }
      }

      .block-team__team-card_item1 {
        position: relative;
        margin-top: 0;
        background: url("../assets/image/block-team-image1.png") no-repeat;
      }

      .block-team__team-card_item2 {
        margin-top: 0;
        background: url("../assets/image/block-team-image2.png") no-repeat;
      }

      .block-team__team-card_item3 {
        margin-top: 0;
        background: url("../assets/image/block-team-image3.png") no-repeat;
      }
    }

    .block-team__team-subtitle {
      width: 563px;
      height: 136px;
      margin-top: 72px;
      position: relative;
      font-family: "FuturaBookC";
      font-size: 20px;
      line-height: 34px;
      text-align: center;
      color: #363636;
    }
  }
  .block-team__team-card_item1:before {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: -33px;
    left: -30px;
    background: url("../assets/image/team-icon.svg") center center no-repeat, #E3B873;
    box-shadow: 0 5px 20px rgba(227, 184, 115, 0.5);
  }
  .block-team__team-card_item2:before {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: -33px;
    left: -30px;
    background: url("../assets/image/team-icon2.svg") center center no-repeat, #E3B873;
    box-shadow: 0 5px 20px rgba(227, 184, 115, 0.5);
  }
  .block-team__team-card_item3:before {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: -33px;
    left: -30px;
    background: url("../assets/image/team-icon3.svg") center center no-repeat, #E3B873;
    box-shadow: 0 5px 20px rgba(227, 184, 115, 0.5);
  }
  .block-team__team-subtitle:before {
    content: "";
    width: 55px;
    height: 2px;
    position: absolute;
    top: -20px;
    left: 255px;
    background: url("../assets/image/team-line.svg") no-repeat;
  }
  .block-clients {
    height: 642px;
    margin-top: 89px;

    .block-clients__inf {
      width: 385px;
      height: 143px;

      .block-clients__inf-title {
        width: 150px;
        height: 72px;
        font-family: "YesevaOne-Regular";
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #181818;
        background: url("../assets/image/icon-clients.svg") 15px 37px no-repeat;
      }

      .block-clients__inf-subtitle {
        height: 71px;
        font-family: "FuturaBookC";
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #363636;

      }
    }

    .block-clients__feedback {
      width: 1236px;
      height: 441px;

      .block-clients__feedback-item {
        width: 370px;
        height: 436px;

        .block-clients__feedback-name {
          font-family: "YesevaOne-Regular";
          font-size: 18px;
          line-height: 23px;
          color: #181818;

          img {
            border-radius: 50%;
          }
        }

        .block-clients__feedback-subtitle {
          font-family: "FuturaBookC";
          font-size: 15px;
          line-height: 180%;
          color: #959595;
        }

        .block-clients__feedback-links {
          width: 295px;
          height: 53px;

          .block-clients__feedback-link-one {
            width: 133px;
            height: 53px;
            font-family: "YesevaOne-Regular";
            font-size: 17px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #E3B873;
            box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
          }

          .block-clients__feedback-link-two {
            width: 157px;
            height: 53px;
            font-family: "YesevaOne-Regular";
            font-size: 17px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #E3B873;
            box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
          }
        }
      }
    }
  }
  .block-questions {
    height: 445px;
    margin-top: 131px;
    position: relative;
    z-index: 10;
    background: none;
    .block-questions__form {
      width: 883px;
      height: 445px;
      background: #131313;
      .block-questions__form-title {
        font-family: "YesevaOne-Regular";
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .block-questions__form-main {
        width: 516px;
        height: 307px;
        .block-questions__mobile_block {
          height: auto;
        }

        .block-questions__form_input-title {
          font-family: 'FuturaBookC';
          font-size: 15px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.5);
        }

        .block-questions__form_input-input {
          font-family: 'FuturaBookC';
          font-size: 18px;
          line-height: 24px;
          color: #FFFFFF;
          background: #131313;
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: rgba(54, 54, 54, 0.3)
        }

        input::placeholder {
          color: #FFFFFF;
        }

        .block-questions__form_input-name {
          width: 236px;
          height: 48px;
        }

        .block-questions__form_input-phone {
          width: 236px;
          height: 48px;
        }

        .block-questions__form_input-quest {
          width: 516px;
          height: 48px;

          input {
            width: 516px;
          }
        }

        .block-questions__form_check {
          width: 389px;
          height: 18px;
          font-family: "FuturaBookC";
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;

          input {
            margin-right: 8.5px;
          }
        }

        .block-questions__form_button {
          width: 200px;
          height: 51px;
          font-family: "FuturaDemiC";
          font-size: 15px;
          line-height: 26px;
          text-transform: uppercase;
          border: 0;
          color: #FFFFFF;
          background: #E3B873;
          box-shadow: 0 5px 20px rgba(227, 184, 115, 0.1);
        }
      }
    }
  }
  .block-map {
    height: 953px;
    position: relative;
    top: -223px;
    padding-top: 277px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("../assets/image/block-map.png") no-repeat;

    .block-map__inf {
      width: 588px;
      height: 147px;
      font-family: "YesevaOne-Regular";
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #E3B873;

      .block-map__inf-icon {
        width: 71px;
        height: 28px;
        margin-top: 26px;

        .block-map__inf-icon-link {
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }

        .block-map__mail {
          background: url("../assets/image/block-map-icon-mail.svg") center no-repeat, #E3B873;
        }

        .block-map__inst {
          background: url("../assets/image/block-map-icon-inst.svg") center no-repeat, #E3B873;
        }
      }
    }

    .block-map__map {
      width: 925px;
      height: 463px;
      background: #FFFFFF;
    }
  }
}